ul {
    display: flex;
    visibility: hidden;
}

li {
    list-style-type: none;
}

.border {
    border: 3px solid green;
    text-align: center;
}

.ok {
    margin: auto;
    padding: auto;
    width: 400px;
    height: 400px;
}